<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %>

    <main>
        <section>
            <div class="product-page-main-container">
                <div class="product-page-container">
                    <div class="sections-welcome-titles-container">
                        <h2 class="sections-welcome-titles">Todas las rutinas</h2>
                        <p class="sections-welcome-description">Listado de todas las rutinas del sitio</p>
                    </div>
                
                    <div class="product-page-articles-main-container">
                        <% for(rutine of rutines){ %> 
                            <article class="product-page-article-container">
                            
                                    <div class="rutine-page-img-container">
                                        <img src="images/rutines/<%=rutine.image%>" alt="" class="rutine-page-img">
                                    </div>

                                    <div class="product-page-product-name product-page-div">
                                        <h2 class="product-page-name"><%=rutine.name%></h2>
                                    </div>

                                    <div class="product-page-product-introduction product-page-div">
                                        <p class="product-page-introduction"><%=rutine.introduction%>.</p>
                                    </div>

                                    <div class="product-page-product-price product-page-div">
                                        <p class="product-page-price-container">$<span class="product-page-price price-global"><%=rutine.price%></span></p>
                                    </div>

                                    <div class="product-page-form-container product-page-div">
                                        <form action="rutines/detail/<%=rutine.id%>" method="GET">
                                            <button type="submit" class="buttons-style product-page-button">Comprar</button>
                                        </form>
                                    </div>
                            
                            </article>
                        <% } %> 
                        
                    </div>
                </div>
            </div>
        </section>
    </main>


    <%- include("../partials/footer") %> 
    <script src="/javascripts/priceFormat.js"></script>
</body>
</html>