<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 

    <main>
        <section>
            <article>
                <div class="profile-main-container">
                    <div class="profile-container">

                        <div class="sections-welcome-titles-container">
                            <h2 class="sections-welcome-titles">
                                ¡Bienvenido a tu perfil <%if(userLog.id == 0) {%> de Administrador, <%=userLog.name%><%} else {%><%=userLog.name%><%}%>!
                            </h2>
                            <p class="sections-welcome-description">
                                Estos son los datos configurados en tu cuenta
                            </p>
                        </div>

                        <div class="profile-left-side">
                            <div class="profile-avatar-container">
                                <img src="/images/users/<%=userLog.avatar%>" alt="" class="profile-page-avatar">
                                <p class="profile-avatar-text profile-labels">
                                    Avatar
                                </p>
                            </div>
                        </div>   

                        <div class="profile-information-container">
                            <form action="/users/profile/edit/<%=userLog.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                                <div class="profile-information profile-name">
                                    <label for="name" class="profile-labels">Nombre:</label>
                                    <input type="text" name="name" id="" value="<%=userLog.name%>" class="inputs-fields profile-inputs">
                                    <p class="front-error-inactive front-profile-error-style">
                                        El nombre debe tener al menos 2 caracteres (solo letras)
                                    </p>
                                    <small class="front-blank-error-inactive front-profile-error-style">
                                        El campo no puede estar vacío
                                    </small>
                                    <p class="validation-error-profile">
                                        <%= typeof errors == "undefined" ? "" : typeof errors.name != "undefined" ? errors.name.msg : "" %>
                                    </p>
                                </div>

                                <div class="profile-information profile-lastName">
                                    <label for="lastName" class="profile-labels">Apellido:</label>
                                    <input type="text" name="lastName" id="" value="<%=userLog.lastname%>" class="inputs-fields profile-inputs" >
                                    <p class="front-error-inactive front-profile-error-style">
                                        El apellido debe tener al menos 2 caracteres (solo letras)
                                    </p>
                                    <small class="front-blank-error-inactive front-profile-error-style">
                                        El campo no puede estar vacío
                                    </small>
                                    <p class="validation-error-profile">
                                        <%= typeof errors == "undefined" ? "" : typeof errors.lastName != "undefined" ? errors.lastName.msg : "" %>
                                    </p>
                                </div>
                            

                                <div class="profile-information">
                                    <label for="image" class="profile-labels">Avatar</label>
                                    <input type="file" id="image" name="avatar" class="profile-inputs" accept="image/jpg, image/png, image/jpeg, image/gif">
                                    <p class="validation-error-profile">
                                        <%= typeof errors == "undefined" ? "" : typeof errors.avatar != "undefined" ? errors.avatar.msg : "" %>
                                    </p>
                                </div>

                                <div class="form-profile-edit-container">
                                    <button type="submit" class="buttons-style profile-edit-button profile-save-edit-button">
                                        <i class="fas fa-check page-icons"></i>
                                        Guardar cambios
                                    </button>
                                </div>
                                
                                <div class="profile-message-container">
                                    <p class="profile-message">
                                        * Debes reingresar para aplicar los cambios.
                                    </p>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>

    <%- include("../partials/footer") %> 
    <script src="/javascripts/validatorProfile.js" type="text/javascript"></script>
</body>
</html>