<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
    <body>
        <%- include("../partials/header") %> 

        <main>
            <section>
                <article>
                    <div class="add-edit-product-rutine-card-main-container">
                        <div class="add-edit-product-rutine-card-container">
                            <div class="sections-welcome-titles-container">
                                <h2 class="sections-welcome-titles">Nuevo Producto</h2>
                                <p class="sections-welcome-description">Completa los campos para crear un nuevo producto</p>
                            </div>
                            <div class="add-edit-product-rutine-card-form-container">
                                <p class="validation-error-product-title">
                                    <%= typeof errors == "undefined" ? "" : "Hay algún error en los campos" %>
                                </p>

                                <form action="/products/create" method="POST" enctype="multipart/form-data"> 
                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="create-product-name" class="admin-labels">Nombre del producto<span class="required-field">*</span></label>
                                        </div> 
                                        <input type="text" name="name" id="create-product-name" class="add-edit-product-input inputs-fields" placeholder="Ej: Colchoneta Flex" >
                                        <p class="validation-error-product">
                                            <%= typeof errors == "undefined" ? "" : typeof errors.name != "undefined" ? errors.name.msg : "" %>
                                        </p>
                                    </div>
                                   
                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="create-product-price" class="admin-labels">Precio<span class="required-field">*</span></label>
                                        </div>
                                        <input type="number" name="price" id="create-product-price" class="add-edit-product-input inputs-fields" placeholder="Ej: 2000">
                                        <p class="validation-error-product">
                                            <%= typeof errors == "undefined" ? "" : typeof errors.price != "undefined" ? errors.price.msg : "" %>
                                        </p>
                                    </div>

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="create-product-introduction" class="admin-labels">Breve descripción (max 78 caract)<span class="required-field">*</span></label>
                                        </div> 
                                        <input type="text" name="introduction" id="create-product-introduction" class="add-edit-product-input inputs-fields" placeholder="Ej: Lorem ipsum dolor sit amet consectetur adipisicing elit">
                                        <p class="validation-error-product">
                                            <%= typeof errors == "undefined" ? "" : typeof errors.introduction != "undefined" ? errors.introduction.msg : "" %>
                                        </p>
                                    </div>

                                    
                                    <div class="admin-inputs-containers2">
                                        <div class="admin-label-container">
                                            <label for="create-product-description" class="admin-labels">Descripción completa<span class="required-field">*</span></label>
                                        </div>
                                        <textarea name="description" id="create-product-description" cols="30" rows="10" class="add-edit-product-input-textarea textarea-styles" placeholder="Ej: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ex officia eligendi "></textarea>
                                        <p class="validation-error-product">
                                            <%= typeof errors == "undefined" ? "" : typeof errors.description != "undefined" ? errors.description.msg : "" %>
                                        </p>
                                    </div>

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="create-product-weight" class="admin-labels">Peso Total (en KG)<span class="required-field">*</span></label>
                                        </div> 
                                        <input type="number" name="weight" id="create-product-weight" class="add-edit-product-input inputs-fields" placeholder="Ej: 1" >
                                        <p class="validation-error-product">
                                            <%= typeof errors == "undefined" ? "" : typeof errors.weight != "undefined" ? errors.weight.msg : "" %>
                                        </p>
                                    </div>

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="create-product-size" class="admin-labels">Medidas<span class="required-field">*</span></label>
                                        </div> 
                                        <input type="text" name="size" id="create-product-size" class="add-edit-product-input inputs-fields" placeholder="Ej: 100 x 50 cm" >
                                        <p class="validation-error-product">
                                            <%= typeof errors == "undefined" ? "" : typeof errors.size != "undefined" ? errors.size.msg : "" %>
                                        </p>
                                    </div>

                                    <div class="admin-inputs-containers">
                                        <div class="admin-label-container">
                                            <label for="create-product-material" class="admin-labels">Material<span class="required-field">*</span></label>
                                        </div> 
                                        <input type="text" name="material" id="create-product-material" class="add-edit-product-input inputs-fields" placeholder="Ej: Goma" >
                                        <p class="validation-error-product">
                                            <%= typeof errors == "undefined" ? "" : typeof errors.material != "undefined" ? errors.material.msg : "" %>
                                        </p>
                                    </div>
                                   

                                    <div class="admin-options-containers">
                                        <div class="admin-label-option-container">
                                            <label for="create-product-category" class="admin-labels">Categoría:</label>
                                            <select name="category" id="create-product-category" class="admin-select-category">
                                                <option value="products">Productos</option>
                                            </select>
                                         </div>
                                    </div>
                                    
                                    <div class="admin-options-containers">
                                        <div class="admin-label-option-container">
                                            <label for="" class="admin-labels">¿Agregar en la Home?</label>
                                            <input type="radio" name="homepage" value=1 class="admin-radio-input"> Sí
                                            <input type="radio" name="homepage" value=0 class="admin-radio-input" checked> No
                                        </div>
                                    </div>
                                    
                                    <div class="admin-options-containers admin-img-2">
                                        <div class="admin-label-option-container">
                                            <label for="create-product-image" class="add-edit-product-image-label">Imagen del producto<span class="required-field">*</span></label>
                                            <input type="file" name="image" id="create-product-image" class="add-edit-product-image-input" accept="image/jpg, image/png, image/jpeg, image/gif">
                                        </div>
                                        <p class="validation-error-product">
                                            <%= typeof errors == "undefined" ? "" : typeof errors.image != "undefined" ? errors.image.msg : "" %>
                                        </p>
                                    </div>
            
                                    <div class="form-add-edit-product-button-container">
                                        <button type="submit" class="add-edit-product-create-product-button buttons-style"><i class="fas fa-plus product-add-icon"></i>Crear producto</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </article>
            </section>
        </main>


        <%- include("../partials/footer") %> 
    </body>
</html>