<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
   
    <div class="home-banner">
        <section>
            <div class="banner-container">
                <img src="images/main/homepage-banner.jpg" alt="Banner" class="banner-image">
            </div>
        </section>
    </div>

    <main>
        <section class="mas-vendidos">
            <h2 class="section-title">Los productos más vendidos</h2>
            <p class="section-title-description">Estos son los productos más procurados últimamente</p>
            <div class="articles-container">

                <% for(let product of productsHome) { %>
                <article class="articles">
                    <img src="images/products/<%= product.image %>" alt="" class="mas-vendidos-img">
                    <h2 class="product-names"><%= product.name %></h2>
                    <p class="product-introduction"><%= product.introduction %></p>
                    <form action="/products/detail/<%= product.id %>" class="button-padre">
                        <button type="submit" class="comprar-button buttons-style">Comprar</button>
                    </form>
                </article>
                <% } %>

            </div>
        </section>

        <section class="rutinas">
            <h2 class="section-title">Rutinas más populares</h2>
            <p class="section-title-description">Estas son las rutinas más vistas por los usuarios</p>
            <div class="rutinas-articles-container">
                <% for(let rutine of rutinasHome) { %>
                    <article class="rutina-articles">
                        <img src="images/rutines/<%= rutine.image %>" alt="" class="rutinas-img">
                        <h2 class="product-names"><%= rutine.name %></h2>
                        <p class="product-introduction"><%= rutine.introduction %></p>
                        <form action="/rutines/detail/<%= rutine.id %>" class="button-padre">
                            <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                        </form>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %> 
</body>
</html>