<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
   
    <div class="home-banner">
        <div class="banner-container">
            <div class="homepage-welcome-main-container">
                <div class="homepage-welcome-container">
                    <div class="homepage-title-container">
                        <p class="homepage-title">Live the experience</p>
                    </div>
                    
                    <div class="homepage-btn-container">
                        <form action="/products">
                            <button class="homepage-btn">Shop</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1" class="banner-btn">
                    <input type="radio" name="radio-btn" id="radio2" class="banner-btn">
                    <input type="radio" name="radio-btn" id="radio3" class="banner-btn">
                    <input type="radio" name="radio-btn" id="radio4" class="banner-btn">
        
                    <div class="slide first">
                        <img src="images/main/slider_1.jpg" alt="" class="slide-img">
                    </div>
                    <div class="slide">
                        <img src="images/main/slider_2.jpg" alt="" class="slide-img">
                    </div>
                    <div class="slide">
                        <img src="images/main/slider_3.jpg" alt="" class="slide-img">
                    </div>
                    <div class="slide">
                        <img src="images/main/slider_4.jpg" alt="" class="slide-img">
                    </div>
    
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
        </div>
    </div>

    <main>
        <section class="productos">
            <h2 class="section-title">Los productos más vendidos</h2>
            <div class="home-products-container">
                <% for(let product of productsHome) { %>
                    <div class="home-product-cart zoom">
                        <img src="images/products/<%=product.image%>"  alt="" class="home-product-img ">
                        <h2 class="home-product-name"><%=product.name%></h2>
                        <p class="home-product-description"><%=product.description%></p>
                        <p class="home-product-price">$<%=product.price%>.00</p>
                        <form action="/products/cart">
                            <button class="home-product-button"><i class="fas fa-shopping-cart home-product-cart-icon"></i>Agregar al carrito</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </section>
       

        <section class="rutinas">
            <h2 class="section-title">Rutinas más populares</h2>
            <div class="rutinas-articles-container">
                <% for(let rutine of rutinasHome) { %>
                    <article class="rutina-articles">
                        <img src="images/rutines/<%= rutine.image %>" alt="" class="rutinas-img">
                        <h2 class="rutine-name"><%= rutine.name %></h2>
                        <p class="rutine-introduction"><%= rutine.introduction %></p>
                        <form action="/rutines/detail/<%= rutine.id %>" class="button-padre">
                            <button type="submit" class="ver-mas-button buttons-style">Ver más</button>
                        </form>
                    </article>
                <% } %>
            </div>
        </section>
    </main>

    <%- include("../partials/footer") %> 
    <script src="/javascripts/homepage.js"></script>
</body>
</html>